

# Byggfiler
bin/
obj/
out/
bin/Debug/net8.8/

# Brukerspesifikke innstillinger
*.user
*.suo
*.userosscache
*.sln.docstates

logs/
*.log


# Miljøfiler (hemmeligheter)
appsettings.Development.json
appsettings.Local.json
secrets.json
appsettings.json
ErrorHandlingAndLogging.csproj
ErrorHandlingAndLogging.sln



# Oppstartskonfig (valgfritt å ignorere)
launchSettings.json
